/FirstWebApp/.vs
/FirstWebApp/bin
/FirstWebApp/obj
/FirstWebApp/*.user
/JobFinderApplication/.vs
/JobFinderApplication/JobFinderWebApp/bin/Debug/net10.0
/JobFinderApplication/JobFinderWebApp/obj
*.user
