<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Larget online job portal in Dhaka</title>
    <link rel="stylesheet" href="~/backend/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/backend/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/backend/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/backend/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/backend/css/style.css">
    <link rel="shortcut icon" href="~/backend/images/favicon.png" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/backend/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/backend/js/off-canvas.js"></script>
    <script src="~/backend/js/misc.js"></script>
    <script src="~/backend/js/settings.js"></script>
    <script src="~/backend/js/todolist.js"></script>
    <script src="~/backend/js/jquery.cookie.js"></script>
</body>
</html>
